{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <!-- Link your CSS stylesheet here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Your HTML content here -->
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="logo">
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Me Alerts</button>
 
        </form>
    </div>

</body>
</html>
