
<!-- app/templates/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link your CSS stylesheet here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-section">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            <br>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            <br>
            <button type="submit">Login</button>
        </form>
        <small class="text-muted">
            Need An Account? <a href="{% url 'signup' %}">Sign Up Now</a>
        </small>
    </div>

</body>
</html>

